<div>
  <h1 class="text-center">Projeto escolas</h1>
</div>
<div class="centerDiv container">
  <button class="btn btn-primary" routerLink="/escolaAdd">Adicionar escola</button>

  <table class="table" style="margin-top: 10px;">
    <thead>
      <tr>
        <th scope="col">Escola</th>
        <th scope="col">Turmas</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let escola of escolas">
        <td>{{escola.descricao}}</td>
        <td>
          <button class="btn btn-primary" [routerLink]="['/turma',escola.id]">
        Turmas  
        </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
